.Departments{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
}

.HeadOfDepartments{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

.HeadOfDepartments p{
    align-self: center;
    font-size: 28px;
    font-weight: bold;
    color: #2d2d2f;
}

.HeadOfDepartmentsBtns button{
    padding: 0;
    width: 180px;
    height: 45px;
    font-size: small;
    display: flex;
    justify-content: space-around;
    gap: 1px;
    align-items: center;
    background-color: #10062B;
    color: #FFFFFF;
 }

 .HeadOfDepartmentsBtns button p{
    font-size: small;
    color: #FFFFFF;
    font-weight: 400;
 }

.HeadOfDepartmentsBtns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    width: 40%;
}

.HeadOfDepartmentsBtns input{
    margin-bottom: unset;
}

.BodyOfDepartments{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.TheListOfFaculty{
    display:flex;
    flex-direction: column;
    background-color: #E9ECEF;
    margin-top: 10px;
    width: 95%;
    height: 75%;
    border-radius: 10px;
}

.FacultyBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 15%;
    width: 90%;
    overflow-x:scroll ;
}

.FacultyBar .DepartmentsBox{
    height: 100%;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px ;
    background-color: #fff;
   
}

.FacultyBar .DepartmentsBox:hover{
    background-image: linear-gradient(to  left, #450129 , #10062B);

}

.FacultyBar .DepartmentsBox:last-child{
    padding-right: 1px;
}

.FacultyBar .DepartmentsBox:hover p{
  color: #fff;
}

.FacultyBar .DepartmentsBox p{
    font-size: small;
    margin: 0;
    text-align: center;
    color: #450129;
    width:150px;
    font-family: 'Poppins', sans-serif!important;
    font-weight: 600;
}

.FacultyBar .BoxContinar{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
}

.FacultyRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.FacultyRow div {
    font-size: larger;
    color: #450129;
    gap: 20px;
}

.ActiveClass{
    background-image: linear-gradient(to  left, #450129 , #10062B);
}

.icons{
    display: flex;
}

.Departments .cheakboxclassName{
    display: flex;
    align-items: center;
 }

 .Departments .cheakboxclassName input{
    transform: scale(1.5);
    margin: 0;
 }

 .Departments p{
    margin: 0;
 }

