.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.courses i {
    cursor: pointer;
}

.courses .ControlOfTheList {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftInput {
  display: flex;
}

.courses .active {
    background-image: linear-gradient(to left, #450129, #10062B);
    color: #fff;
}

.Box {
    min-width: 60px;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #450129;
    border-radius: 10px;
    font-weight: 600;
    color: #450129;
    font-size: 14px;
}

.Box:hover {
    background-image: linear-gradient(to left, #450129, #10062B);
    color: #fff;
}

.Box p {
    font-size: small;
    margin: 0;
    text-align: center;
}

.BoxContinar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    gap: 10px;
}

.courses .theList {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.courses .theList button {
    height: 100%;
    width: fit-content;
    background-color: #d9d9d9;
}

.theListofcourses .isgrid {
    display: grid;
}

.theListofcourses .isnone {
    display: none;
}

.cheakboxclassName {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.cheakboxclassName input {
    width: 15px;
    height: 15px;
    margin: 0;
}

.coursesTable {
  padding-left: 100px;
  padding-right: 100px;
}

.text-white {
  color: #FFFFFF;
  text-align: center;
}